.newsCard {
  .newsCard .ant-card-body {
    padding: 0 !important;
  }

  background: none;
  border: 1px solid #313352;

  .snippetContent {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }

  .tags {
    margin: 20px 0;

    .tag {
      color: #585f77;
      background: none;
      padding: 3px 15px;
      border-radius: 12px;
      margin-right: 15px;

      .count {
        color: white;
        font-weight: 500px;
        margin-left: 5px;
      }
    }
  }

  .sourceLink {
    padding: 5px 15px;
    border-radius: 12px;
    background: #313352;
  }

  .duplicatesBar {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .relevance {
    background: none;
    border: none;
    color: #585f77;

    &:hover {
      background: transparent !important;
      box-shadow: none !important;
      color: #ffffff !important;
    }
  }
}
