/* index.css — глобальные сбросы и базовые стили */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ant-card-body {
  padding: 20px 15px !important;
}

.ant-typography {
  color: #585f77;
}

.ant-typography span {
  color: #ffffff;
}

.ant-typography a {
  color: #1890ff;
  text-decoration: none;
}

.ant-typography a:hover {
  text-decoration: underline;
}

.contentWrapper {
  max-width: 60%;
  width: 100%;

  @media (max-width: 1200px) {
    max-width: 80%;
  }

  @media (max-width: 768px) {
    max-width: 95%;
    padding: 0 10px;
  }

  @media (max-width: 480px) {
    max-width: 95%;
    padding: 0 5px;
  }
}
